# Directories
bin/*
build/
include/
lib/
share/
tests/
workspace/

# Files
Makefile
yadkin-init.sh

# Specifically include descriptions
!bin/README.md
!vendor/README.md

# Binary files
*.o
*.so

# Mac Only
.DS_Store

# Personal stuff
TODO

# Block build files for Android
.gradle
.externalNativeBuild

# Source code listing 
src.vim

