/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import("https://git.ramar.work/index.css");

html {
/*
font-family: "Arial", sans-serif;
font-weight: 400;
color: #444;
*/
width: 500px;
margin: 0 auto;
margin-top: 100px;
}

