<?xml version="1.0" encoding="utf-8"?>
<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.[[ identifier ]].[[ app.name ]]">

	<application
			android:allowBackup="true"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:roundIcon="@mipmap/ic_launcher_round"
			android:supportsRtl="true"
			android:theme="@style/Theme.Template_v3">

	[[ #manifest.activities ]]
			<activity
					android:name=".[[ .name ]]"
					android:exported="true">
			</activity>
	[[ /manifest.activities ]]

	</application>

</manifest>
